@import url("https://fonts.googleapis.com/css?family=Comfortaa|Patua+One");

/*Typography
--------------------------------------------------------------*/
body,
button,
input,
select,
textarea {
	color: #404040;
	font-family: "Comfortaa", Arial, sans-serif;
	font-size: 14px;
	line-height: 1.5;
}

h1,h2,h3,h4,h5,h6 {
  font-family: "Patua One", serif;
  letter-spacing: 2px;
}

.blue {
    background-color: rgb(174, 217, 255);
}

.green {
    background-color: rgb(154, 255, 154);
}

.purple {
    background-color: rgb(183, 119, 255);
}

.red {
    background-color: rgb(255, 89, 89);
}

